@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    background-color: aliceblue;
}

header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 80px;
    background-color: #5cf3f39a;
}

nav {
    overflow: hidden;
    margin: auto;
}

nav ol {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

nav li {
    font-size: 22px;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#user-input {
    margin-bottom: 20px;
}

i:active {
    background-color: rgb(121, 197, 197);
    transform: translateY(4px);
}

input {
    padding: 8px;
    margin: 4px;
}

select {
    padding: 4px;
    margin: 4px;
}

#user-output {
    display: block;
    margin: 0px 12px;
}

span {
    display: none;
}

button {
    float: right;
}


button :hover {
    color: aqua;
}

button:active {
    background-color: rgb(121, 197, 197);
    transform: translateY(4px);
    border-radius: 5px;
}
